body{
    background-image: url('../img/teclado.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn-secondary {
    color: #FFF !important;
    background-color: #FF4000 !important;
    border-color: transparent !important;
  }
  
   .btn-secondary:hover {
    background-color: #C43302 !important;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    h2{
      font-family: 'Staatliches', cursive;
      font-size: 40px;
      color: whitesmoke;
    }
    titulo{
      font-family: 'Staatliches', cursive;
      font-size: 18px;
      color: whitesmoke;
    }
    
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    h1{
      font-family: 'Staatliches', cursive;
      font-size: 18px;
      color: whitesmoke;
    }
    p{
      font-family: 'Staatliches', cursive;
      font-size: 18px;
      color:whitesmoke;
    }
    h3{
      font-family: 'Staatliches', cursive;
      font-size: 18px;
      color: black;
    }
    Span{
      background-color:#dc3545 !important;
    }
  }


      
      