/* CSS*/

html,body{
	background-image: url(../img/fundofinal.jpg);
	background-size: 100%;
	background-attachment:fixed;
	font-family: 'Numans', sans-serif;
	}

h3{
	text-align: center;
	padding-top: 10px;
}
.container{
	height: 100%;
	align-content: center;
}

.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.8) !important;
}
h1{
	font-size: 22px;	
	margin-left: 10px;
	margin-top: 35px;
	color: white;
}
	.social_icon span{
	font-size: 22px;
	margin-left: 10px;
	margin-top: 35px;
	color: white;
}

.social_icon span:hover{
	color: white;
	cursor: pointer;
}

.card-header h3{
	color: white;
}


input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;

}

.relembrar{
	color: white;
}

.relembrar input
{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn:hover{
	color: black;
	background-color: white;
}

.links{
	color: white;
}

.links a{
	margin-left: 4px;
}

.bg-dark{
	background-color: rgba(0,0,0,0.5) !important;
	background-size: 0px;
	border-radius: 10px;
}

.navbar-brand{
	font-family: 'Poiret One', cursive;	
	font-size: 28px;
}